@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Quando);
/* TODO: make sure not to use element names in conjuctions with ids and classes
    streamline font property and use shorthand
*/
html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d8d8d8;
}
/* Navbar
-------------------------------------------------- */

#hidden-bar {
    width: 100%;
    position: fixed;
    display: none;
    top: 0;
    z-index: 100;
}
.navbar {
    background: black;
}


.navbar li {
    padding: 10px 0;
}
.nav li a {

    color: #d8d8d8;
    font-weight: bold;
}

.navbar-default  .navbar-nav li:hover {
    background: #ff8c00;
}



/* Banner and Intro
-------------------------------------------------- */
header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/buddha.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#intro {
    width: 50%;
    z-index: 99;
    color: #fff;
    margin:10% 50% 0 0;
}

#intro h2 {
    font-size: 3vw;
    font-family: Georgia, serif;
    line-height: 1.45;
    margin: 0 0 40px 0;
    color: #7a7a7a;
    padding: 0 40px;

}

#intro .btn{

    margin: 0 40px;
}

.btn-default {
    background: #916332;
    border-color: #916332;
}

blockquote {
    border: 0;
    font-family: Georgia, serif;
    font-size: 3vw;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding: 0 10px 0 0;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 3vw;
    display: block;
    margin: 5px 0 0 0;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* About Me
-------------------------------------------------- */

#about h1 {
    margin: 40px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #916332;
    text-transform: uppercase;
}
#about p {
    text-align: center;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Three Projects
-------------------------------------------------- */

#projects h1 {
    text-align: center;
    margin: 20px 0 40px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #916332;
    text-transform: uppercase;

}
#projects h2 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

#projects img {

  max-width: 100%;

}
/* no-gutters Class Rules */
.row.no-gutters {
   margin: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding: 0;
}

.mask {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,140,0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}

.mask p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 30px 0 0 0;
}


.grid-image:hover .mask {
  visibility: visible;
  opacity: 1;
}


.divider {
    margin: 40px 0;
}


/* Footer
-------------------------------------------------- */
footer {
    text-align: center;

}

footer h1 {
    margin: 20px 0 40px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #916332;
    text-transform: uppercase;
}
footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;

}

