@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Quando);

html{
    height:100%;
}

body {
    height:100%;
    margin:0;
    padding:0;
    background-color: #D8D8D8;
    
}
/* Navbar
-------------------------------------------------- */

#hidden-bar {
    width: 100%;
    position: fixed;
    display: none;
    top: 0;
    z-index: 100;
}
.navbar {
    background: #909090;
}

.navbar-default  .navbar-nav>li a {
    color: white;
}
.navbar li {
    padding: 10px 0;
}
.navbar-default  .navbar-nav>li:hover {
    background: #D8D8D8;
}
.navbar-default  .navbar-nav>li a:hover {
    background: #D8D8D8;
}

.dropdown-menu a{
    color:black !important;
}

/* Banner and Intro
-------------------------------------------------- */
#banner{

    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
#banner img{

    height:100%;
    width:100%;
}

#intro {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 100;
    color: white;
    width: 50%;
    height: 100%;

}

#intro h2 {
    font-size: 3vw;
    font-family: Georgia, serif;
    line-height: 1.45;
    margin-bottom: 40px;
    color: #7a7a7a;
    padding:0 40px;
}

#intro .btn{

    margin: 0 40px;
}

.btn-default {
    background: #916332;
    border-color: #916332;
}

blockquote {
border: 0;
font-family: Georgia, serif;
font-size: 3vw;
font-style: italic;

margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size:3vw;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
/* About Me
-------------------------------------------------- */

#about h1 {
    margin: 60px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#about p {
    text-align: center;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Three Projects
-------------------------------------------------- */

#projects h1 {
    text-align: center;
    margin: 70px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#projects h2 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

#projects img{
    
  max-width: 100%;
 

}
/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

/* Three Features
------------------------- */

.features h2 {
    font-size: 30px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
.features h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
.features ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}
.glyphicon-ok {
    padding-right: 20px;
}
.features li {
    font-size: 18px;
}
.features img {
    max-width: 100%;
    float: right;
}
.divider {
    margin: 80px 0;
}
.hideme {
    opacity: 0;
}
.visible {
    opacity: 1;
}
/* Media Queries
-------------------------------------------------- */

@media (max-width: 768px) {
 
.features {
    text-align: center;
}
.features ul {
    margin-bottom: 20px;
}
.features img {
    float: none;
}

}

@media (max-width: 640px) {
.features li {
    font-size: 16px;
    line-height: 20px;
}

}

}